<!DOCTYPE html>
<html>
<head><title>Docker Swarm Test v2</title></head>
<body>
  <h1>Hello from Docker Swarm - Version 2.0</h1>
  <p>Node ID: {{ ansible_hostname }}</p>
  <p>Updated: {{ ansible_date_time.iso8601 }}</p>
  <p style="color: red;">Yo mister dickins!</p>
</body>
</html>
